header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 30px 100px;
}

.navigation-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation-container .logo {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: auto;
}

.navigation-container .buttons {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}

.navigation-container .user-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-profile {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px 10px;
  border-radius: 30px;
}

.hamburger-bar {
  margin-right: 10px;
}
.be-a-host {
  padding: 0 15px;
}

.language {
  padding: 13px 0px;
}

.user-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 32px;
  background: white;
  height: 60px;
}

.user-input-container input {
  border: none;
}

.user-input-container .title {
  display: flex;
  flex-direction: row;
  color: black;
  padding: 0 0;
}

.user-input-container .category {
  padding: 0 20px;
  border-left: 1px solid black;
}

.user-input-container .category:first-child {
  border: none;
}

.user-input-container .search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
