.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.promotion-container {
  padding: 100px 0;
  min-width: 100%;
  background-color: black;
}
.background-half-container {
  width: 100%;
  background: linear-gradient(to bottom, black 50%, #ffffff 50%);
}

.ukraine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  border-radius: 12px;
  margin: 0 100px;
  background-color: rgb(255, 56, 92);
  justify-content: center;
}

.ukraine-text {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.curiosity-container {
  height: 900px;
  margin: 0 100px;
  position: relative;
}

.curiosity-image {
  border-radius: 12px;
  width: 100%;
}

.image-info-text {
  padding: 0 100px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.curiosity-text {
  top: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.curiosity-text button {
  background-color: white;

  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
  border: unset;
}

.curiosity-text button span {
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ukraine-button {
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: rgb(255, 56, 92);
  border: 1px solid white;
}

.image-info-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.image-info-text {
  color: black;
  font-size: 42px;
  font-weight: bold;
}

.city-info {
  display: flex;
  flex-direction: row;
  padding: 0 100px;
}

.city {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  height: 615px;
}

.city:first-child {
  padding-left: 0;
}

.city:last-child {
  padding-right: 0;
}

.city-image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.city-text {
  padding-top: 25px;
  padding-left: 15px;
  height: 230px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.city-text-seoul {
  background-color: rgb(222, 49, 81);
}

.city-text-incheon {
  background-color: rgb(188, 26, 110);
}

.city-text-daegu {
  background-color: rgb(204, 45, 74);
}

.city-text-daejeon {
  background-color: rgb(217, 59, 48);
}

.city-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.city-distance {
  font-size: 15px;
}

.two-image-group {
  display: flex;
  width: 100%;
}
.activity {
  position: relative;
  width: 100%;
}

.activity-text {
  position: absolute;
  top: 0;
  padding: 50px 50px;
  font-size: 50px;
  line-height: 60px;
  font-weight: bolder;
}

.activity-text button {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
}

.activity-image {
  border-radius: 10px;
  width: 100%;
}
.activity:first-child {
  margin-right: 10px;
  margin-left: 100px;
}

.activity:last-child {
  margin-left: 10px;
  margin-right: 100px;
}

.hosting-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 85px;
  line-height: 100px;
  font-weight: bold;
}

.hosting-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
  margin-bottom: 30px;
  position: relative;
}

.hosting-container button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

.hosting-image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.host-button-container {
  position: absolute;
  top: 85%;
  left: 50px;
}
