.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.promotion-container {
  padding: 100px 0;
  min-width: 100%;
  background-color: black;
}
.background-half-container {
  width: 100%;
  background: linear-gradient(to bottom, black 50%, #ffffff 50%);
}

.ukraine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  border-radius: 12px;
  margin: 0 100px;
  background-color: rgb(255, 56, 92);
  justify-content: center;
}

.ukraine-text {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.curiosity-container {
  height: 900px;
  margin: 0 100px;
  position: relative;
}

.curiosity-image {
  border-radius: 12px;
  width: 100%;
}

.curiosity-text {
  top: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.curiosity-text button {
  background-color: white;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
  border: unset;
}

.ukraine-button {
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: rgb(255, 56, 92);
  border: 1px solid white;
}

.image-info-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.image-info-text {
  color: black;
  font-size: 42px;
  font-weight: bold;
}

.city-info {
  display: flex;
  flex-direction: row;
}

.city {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  height: 615px;
}

.city-image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.city-text {
  display: flex;
  height: 50%;
  background-color: rgb(222, 49, 81);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.city-name {
  font-size: 20px;
}

.city-distance {
  font-size: 15px;
}
